/* Custom background color and additional styling */
body {
  background-color: #f0f0f0; /* Set your desired background color */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  direction: rtl;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table{
  border-collapse: collapse;
  
}

td, th {
  padding: 10px; /* Add padding to cells to create space between rows */
  border: 3px solid #ddd;
  border-left: 3px solid #131b16;
  border-right: 3px solid #131b16;
}

tr:hover {
  background-color: blue;
  color: white; /* Add this to change the text color for better contrast */
}